.footer {
  padding-top: 40px; }

.top-bar--yellow {
  background-color: #e5c810; }
.top-bar .bottom-nav-text {
  font-size: .8rem; }

.main-menu:not(.m-active) {
  box-shadow: none; }

.top-section--yellow {
  background-color: #e5c810; }
.top-section--logo {
  padding-bottom: 130px; }
.top-section__main-img {
  margin-top: -50px;
  width: 55%; }
  @media (max-width: 40em) {
    .top-section__main-img {
      width: 90%; } }
.top-section__sub-header {
  margin: 0;
  padding-bottom: 50px;
  color: rgba(0, 0, 0, 0.3); }

.webgl .top-section__backup-logo {
  display: none; }

.no-webgl .top-section__logo {
  display: none; }
.no-webgl .top-section__backup-logo {
  width: 150px;
  padding-bottom: 10%;
  padding-top: 15%; }
@media (max-width: 40em) {
  .no-webgl .top-section__main-img {
    padding-top: 50px; } }

.page-section {
  padding: 0; }
  .page-section--gray {
    background-color: rgba(0, 0, 0, 0.7);
    color: white; }
  .page-section .more-info {
    font-size: 2rem;
    padding: 100px; }

@media (min-width: 64.063em) and (max-width: 90em) {
  .dual-panel {
    position: relative; } }
.dual-panel--img-bg {
  background: url(../images/temporary.png) no-repeat center center;
  background-size: cover; }
.dual-panel__p {
  padding-top: 150px !important;
  padding: 100px;
  margin: 0; }
  @media (max-width: 40em) {
    .dual-panel__p {
      font-size: 1.2rem;
      padding: 30px;
      padding-top: 50px !important; } }
  .dual-panel__p--mod {
    padding-right: 100px;
    padding-left: 100px; }
    .dual-panel__p--mod--last {
      padding-bottom: 200px; }
.dual-panel__first-panel {
  background-color: #e5c810;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.7rem;
  text-align: right; }
  .dual-panel__first-panel__logo {
    width: 30%;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px; }
    @media (max-width: 40em) {
      .dual-panel__first-panel__logo {
        padding-right: 25px;
        padding-top: 70px;
        width: 25%; } }
  .dual-panel__first-panel--transparent {
    display: none; }
.dual-panel__second-panel {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100% !important;
  color: white;
  font-size: 1.2rem;
  text-align: left; }
  @media (max-width: 40em) {
    .dual-panel__second-panel {
      padding-bottom: 150px; } }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .dual-panel__second-panel {
      position: absolute; } }
  .dual-panel__second-panel--yellow-opaque {
    background-color: #e5c810;
    opacity: 0.9;
    color: rgba(0, 0, 0, 0.7);
    height: 100%; }
  .dual-panel__second-panel .link {
    text-decoration: none;
    border-bottom: 2px solid #e5c810; }
    .dual-panel__second-panel .link:hover {
      border-bottom: 2px solid rgba(0, 0, 0, 0.7); }
.dual-panel h5 {
  margin: 0;
  padding-top: 150px;
  padding-left: 100px; }

.divider {
  position: relative; }
  .divider--logo h2 {
    text-align: center; }
  .divider--logo img {
    max-width: 200px; }
  .divider--main-color-darker {
    background-color: #d2b70f !important; }
  .divider--yellow {
    background-color: #e5c810;
    color: rgba(0, 0, 0, 0.7); }
  .divider__h5 {
    padding: 20px; }
    @media (max-width: 40em) {
      .divider__h5 {
        text-align: center; } }
  .divider__p {
    padding: 100px 150px 20px;
    font-size: 1.7rem;
    text-align: center; }
    @media (max-width: 40em) {
      .divider__p {
        padding: 20px 30px 20px; } }
  .divider__img {
    width: 6%;
    height: 6%;
    padding-bottom: 50px; }
    @media (max-width: 40em) {
      .divider__img {
        width: 12%;
        padding-bottom: 50px; } }

.grid {
  text-align: center;
  margin: 0; }
  .grid__section {
    height: 100%; }
    .grid__section--large-gray {
      background-color: rgba(230, 230, 230, 0.7); }
      @media (max-width: 40em) {
        .grid__section--large-gray {
          background-color: white; } }
    @media (max-width: 40em) {
      .grid__section--small-gray {
        background-color: rgba(230, 230, 230, 0.7); } }
  .grid__header {
    margin: 0;
    padding-top: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7); }
  .grid__subheading {
    padding: 10px 100px 50px;
    margin: 0; }
    @media (max-width: 40em) {
      .grid__subheading {
        text-align: center;
        padding: 20px 20px 50px; } }

.coming-soon__text {
  padding: 50px;
  width: 90%;
  font-size: 1.2rem; }
  .coming-soon__text .link {
    text-decoration: none;
    border-bottom: 2px solid #e5c810; }
    .coming-soon__text .link:hover {
      border-bottom: 2px solid rgba(0, 0, 0, 0.7); }
  @media (max-width: 40em) {
    .coming-soon__text {
      font-size: 1rem;
      padding: 20px; } }

.footer {
  background-color: #e5c810;
  height: 500px;
  padding: 0;
  position: relative; }
  @media (max-width: 40em) {
    .footer {
      height: 400px; } }
  .footer--darken {
    background-color: #d2b70f !important;
    height: 80px;
    width: 100%; }
  .footer__icons {
    position: absolute;
    right: 50px;
    bottom: 50px; }
    @media (max-width: 40em) {
      .footer__icons {
        position: relative;
        left: 20px;
        top: 170px; } }
  .footer__partner-logo {
    color: white;
    display: inline; }
    .footer__partner-logo img {
      opacity: 1;
      padding-right: 50px; }

.dropdown-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative; }
  .dropdown-wrapper .clear_filters {
    position: absolute;
    right: 0;
    padding: 8px; }
  .dropdown-wrapper .select {
    margin-bottom: 25px; }

.table-section__table {
  margin: 0; }
  .table-section__table tr:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .table-section__table th {
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 50px; }
    @media (min-width: 64.063em) and (max-width: 90em) {
      .table-section__table th {
        font-size: 1.1rem; } }
  .table-section__table td {
    padding-left: 50px; }

.table-sortable__head-cell {
  padding: 0;
  position: relative; }
  .table-sortable__head-cell span {
    padding: 15px 0;
    display: inline-block; }
.table-sortable__control i {
  vertical-align: middle; }
.table-sortable__control-group {
  float: right;
  margin-right: 15px;
  color: black; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }
