.footer {
  padding-top: 40px; }

.top-bar--transparent {
  background-color: transparent; }
.top-bar .bottom-nav-text {
  font-size: .8rem; }
.top-bar__logo img {
  padding-right: 50px; }

.main-menu:not(.m-active) {
  box-shadow: none; }

.top-section {
  margin-top: -50px; }
  .top-section--yellow {
    background-color: #e5c810; }
  .top-section--gray {
    background-color: rgba(0, 0, 0, 0.7); }
  .top-section--yellow-list-page {
    margin-top: -50px;
    padding: 100px 0;
    background-color: #e5c810; }
  .top-section__list-header {
    padding: 0;
    margin: 0; }
  .top-section--logo {
    padding-bottom: 130px; }
  .top-section__logo {
    padding-top: 50px;
    z-index: 10;
    position: relative; }
  .top-section__main-img {
    margin-top: -50px;
    width: 55%; }
    @media (max-width: 40em) {
      .top-section__main-img {
        width: 90%; } }
  .top-section__sub-header {
    margin: 0;
    padding-bottom: 50px;
    color: rgba(0, 0, 0, 0.3); }

.webgl .top-section__backup-logo {
  display: none; }

.no-webgl .top-section__logo {
  display: none; }
.no-webgl .top-section__backup-logo {
  width: 150px;
  padding-bottom: 10%;
  padding-top: 15%; }
@media (max-width: 40em) {
  .no-webgl .top-section__main-img {
    padding-top: 50px; } }

.page-section {
  padding: 0; }
  .page-section--gray {
    background-color: rgba(0, 0, 0, 0.7);
    color: white; }
  .page-section .more-info {
    font-size: 2rem;
    padding: 100px; }

.divider--long {
  padding: 60px 0; }
  .divider--long h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0; }
  .divider--long h4 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: none;
    margin-top: 10px;
    font-weight: 400;
    opacity: .6; }

.video-bg {
  position: relative;
  overflow: hidden; }
  .video-bg__video {
    position: absolute;
    mix-blend-mode: screen;
    left: 0;
    top: 0;
    width: 100%;
    opacity: .15; }

@media (min-width: 64.063em) and (max-width: 90em) {
  .dual-panel {
    position: relative; } }
.dual-panel--img-bg {
  background: url(../images/temporary.png) no-repeat center center;
  background-size: cover; }
.dual-panel__p {
  padding-top: 150px !important;
  padding: 100px;
  margin: 0; }
  @media (max-width: 40em) {
    .dual-panel__p {
      font-size: 1.2rem;
      padding: 30px;
      padding-top: 50px !important; } }
  .dual-panel__p--mod {
    padding-right: 100px;
    padding-left: 100px; }
    .dual-panel__p--mod--last {
      padding-bottom: 200px; }
.dual-panel__first-panel {
  background-color: #e5c810;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.7rem;
  text-align: right; }
  .dual-panel__first-panel__logo {
    width: 30%;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px; }
    @media (max-width: 40em) {
      .dual-panel__first-panel__logo {
        padding-right: 25px;
        padding-top: 70px;
        width: 25%; } }
  .dual-panel__first-panel--transparent {
    display: none; }
.dual-panel__second-panel {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100% !important;
  color: white;
  font-size: 1.2rem;
  text-align: left; }
  @media (max-width: 40em) {
    .dual-panel__second-panel {
      padding-bottom: 150px; } }
  @media (min-width: 64.063em) and (max-width: 90em) {
    .dual-panel__second-panel {
      position: absolute; } }
  .dual-panel__second-panel--yellow-opaque {
    background-color: #e5c810;
    opacity: 0.9;
    color: rgba(0, 0, 0, 0.7);
    height: 100%; }
  .dual-panel__second-panel .link {
    text-decoration: none;
    border-bottom: 2px solid #e5c810; }
    .dual-panel__second-panel .link:hover {
      border-bottom: 2px solid rgba(0, 0, 0, 0.7); }
.dual-panel h5 {
  margin: 0;
  padding-top: 150px;
  padding-left: 100px; }

.divider {
  position: relative; }
  .divider--logo h2 {
    text-align: center; }
  .divider--logo img {
    max-width: 200px; }
  .divider--main-color-darker {
    background-color: #d2b70f !important; }
  .divider--yellow {
    background-color: #e5c810;
    color: rgba(0, 0, 0, 0.7); }
  .divider__h5 {
    padding: 20px; }
    @media (max-width: 40em) {
      .divider__h5 {
        text-align: center; } }
  .divider__p {
    padding: 100px 150px 20px;
    font-size: 1.7rem;
    text-align: center; }
    @media (max-width: 40em) {
      .divider__p {
        padding: 20px 30px 20px; } }
  .divider__img {
    width: 6%;
    height: 6%;
    padding-bottom: 50px; }
    @media (max-width: 40em) {
      .divider__img {
        width: 12%;
        padding-bottom: 50px; } }

.grid {
  text-align: center;
  margin: 0; }
  .grid__section {
    height: 100%; }
    .grid__section--large-gray {
      background-color: rgba(230, 230, 230, 0.7); }
      @media (max-width: 40em) {
        .grid__section--large-gray {
          background-color: white; } }
    @media (max-width: 40em) {
      .grid__section--small-gray {
        background-color: rgba(230, 230, 230, 0.7); } }
  .grid__header {
    margin: 0;
    padding-top: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7); }
  .grid__subheading {
    padding: 10px 100px 50px;
    margin: 0; }
    @media (max-width: 40em) {
      .grid__subheading {
        text-align: center;
        padding: 20px 20px 50px; } }

.coming-soon__text {
  padding: 50px;
  width: 90%;
  font-size: 1.2rem; }
  .coming-soon__text .link {
    text-decoration: none;
    border-bottom: 2px solid #e5c810; }
    .coming-soon__text .link:hover {
      border-bottom: 2px solid rgba(0, 0, 0, 0.7); }
  @media (max-width: 40em) {
    .coming-soon__text {
      font-size: 1rem;
      padding: 20px; } }
.coming-soon__link {
  text-transform: none;
  text-align: center;
  padding-top: 20px; }

.footer {
  background-color: #e5c810;
  height: 450px;
  padding: 0;
  position: relative; }
  @media (max-width: 40em) {
    .footer {
      height: 400px; } }
  .footer--darken {
    background-color: #d2b70f !important;
    height: 80px;
    width: 100%; }
  .footer__icons {
    position: absolute;
    right: 50px;
    bottom: 50px; }
    @media (max-width: 40em) {
      .footer__icons {
        position: relative;
        left: 20px;
        top: 170px; } }
  .footer__partner-logo {
    color: white;
    display: inline; }
    .footer__partner-logo img {
      opacity: 1;
      padding-right: 50px; }

.dropdown-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative; }
  .dropdown-wrapper .select {
    margin-bottom: 25px; }

.table-section__table {
  margin: 0; }
  .table-section__table tr:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .table-section__table th {
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 30px; }
    @media (min-width: 64.063em) and (max-width: 90em) {
      .table-section__table th {
        font-size: 1.1rem; } }
  .table-section__table td {
    padding-left: 30px; }
@media (max-width: 40em) {
  .table-section .case__region, .table-section .case__sector, .table-section .case__type, .table-section .case__data-type {
    display: none; } }
@media (max-width: 40em) {
  .table-section .case__title {
    font-size: 16px; } }

.table-sortable--clear-all {
  background-color: rgba(0, 0, 0, 0.1); }
  .table-sortable--clear-all:hover {
    background-color: rgba(0, 0, 0, 0.2); }
.table-sortable__head-cell {
  padding: 0;
  position: relative; }
  .table-sortable__head-cell span {
    padding: 15px 0;
    display: inline-block; }
.table-sortable__control i {
  vertical-align: middle; }
.table-sortable__control-group {
  float: right;
  margin-right: 15px;
  color: white; }
.table-sortable__control {
  float: left;
  padding: 15px; }
  .table-sortable__control > i {
    vertical-align: middle; }
  .table-sortable__control--simple {
    display: inline-block; }

.case-page {
  margin-top: -50px; }
  .case-page__header {
    background-size: cover;
    background-position: center;
    height: 40vh;
    position: relative; }
    .case-page__header:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40vh; }
    .case-page__header h1, .case-page__header h2, .case-page__header h3 {
      margin: 0; }
      .case-page__header h1 span, .case-page__header h2 span, .case-page__header h3 span {
        display: inline-block; }
    .case-page__header h1 {
      font-size: 3.4rem;
      font-weight: 300;
      margin-bottom: 20px; }
      @media (max-width: 40em) {
        .case-page__header h1 {
          font-size: 1.7rem; } }
      .case-page__header h1 span {
        padding: 10px 30px;
        background-color: rgba(229, 200, 16, 0.9); }
    .case-page__header h2 {
      font-size: 1.2rem;
      font-weight: 400;
      color: white; }
      @media (max-width: 40em) {
        .case-page__header h2 {
          font-size: 1rem; } }
      .case-page__header h2 span {
        border: 1px solid white;
        padding: 7px 17px;
        background-color: rgba(0, 0, 0, 0.1); }
        @media (max-width: 40em) {
          .case-page__header h2 span {
            background-color: rgba(0, 0, 0, 0.2);
            padding-top: 7px; } }
    .case-page__header__shared {
      font-size: 2rem !important;
      font-weight: 400; }
    .case-page__header--button {
      bottom: -25px;
      position: absolute;
      z-index: 1;
      text-align: center;
      width: 100%; }
      .case-page__header--button .button {
        background-color: #e5c810;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        padding-left: 40px;
        padding-right: 40px;
        font-weight: bold; }
        .case-page__header--button .button:hover {
          background-color: #c4ab0e; }
  .case-page .share-panel {
    padding-top: 45px; }
    .case-page .share-panel h5 {
      margin: 0 0 15px 0;
      color: rgba(0, 0, 0, 0.4);
      text-transform: none; }
    .case-page .share-panel__item {
      border: 1px solid rgba(0, 0, 0, 0.3);
      padding: 7px 20px;
      margin-bottom: 5px;
      font-size: 1.2rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      cursor: pointer; }
      .case-page .share-panel__item:hover {
        background-color: #e5c810;
        border-color: #e5c810;
        color: white;
        text-decoration: none; }
  .case-page--info {
    padding-top: 50px;
    padding-bottom: 50px; }
  .case-page--purpose {
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 50px; }
  .case-page--more-info {
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white; }
    .case-page--more-info__img {
      width: 70%;
      margin-left: 150px;
      padding-bottom: 20px; }

.regions h3 {
  text-align: center;
  font-weight: 200; }
.regions__map #region-map path {
  fill: white;
  fill-opacity: .1; }
.regions--worldwide #region-map path {
  fill: #e5c810;
  fill-opacity: 1; }
.regions--north-america #north-america path {
  fill: #e5c810;
  fill-opacity: 1; }
.regions--latin-america #latin-america path {
  fill: #e5c810;
  fill-opacity: 1; }
.regions--asia #asia path {
  fill: #e5c810;
  fill-opacity: 1; }
.regions--africa #africa path {
  fill: #e5c810;
  fill-opacity: 1; }
.regions--europe #europe path {
  fill: #e5c810;
  fill-opacity: 1; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }
