---
layout: default

---

<div class="case-page">

  <div class="top-section top-section--gray case-page__header">
    <h1 class="case-page__header__title">{{page.caseStudy}}</h1>
    <!-- <h1 class="case-page__header__shared">Shared by 23andMe</h1> -->
    <h2 class="case-page__header__sub-title">{{page.sector | join: ", "}}</h2>

    <a class="button case-page__header--button" href="{{page.link}}">Go to website</a>
  </div>

  <div class="page-section case-page--info">
    <div class="row align-center case-page--info--top">
      <div class="small-12 column medium-6 ">
        {% if page.whatDataShared %}
          <h4>The Data</h4>
          <p>{{page.whatDataShared}}</p>
        {% endif %}
      </div>
      <div class="small-12 column medium-6 ">
        {% if page.howDataShared %}
          <h4>How the data was shared</h4>
          <p>{{ page.howDataShared }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="page-section case-page--purpose">
    <div class="row">
      <div class="column">
        {% if page.purpose %}
          <h4>Purpose of Data Shared</h4>
          <p>{{ page.purpose }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="page-section case-page--more-info">
    <div class="row">
      <div class="column small-12 column medium-6 ">
        <!-- <h4>More Info</h4> -->
        {% if page.sharedBy %}
          <p>Shared by: <strong>{{ page.sharedBy }}</strong></p>
        {% endif %}

        {% if page.sharedWith %}
          <p>Shared with: <strong>{{page.sharedWith | join: ", "}}</strong></p>
        {% endif %}

        {% if page.region %}
          <p>Region: <strong>{{ page.region }}</strong></p>
        {% endif %}

        {% if page.sector %}
          <p>Sector: <strong>{{page.sector}}</strong></p>
        {% endif %}

        {% if page.dataType %}
          <p>Data Type: <strong>{{page.dataType | join: ", "}}</strong></p>
        {% endif %}

        {% if page.type %}
          <p>Type of Data Collaborative: <strong>{{page.type | join: ", "}}</strong></p>
        {% endif %}
      </div>
      <div class="column small-12 column medium-6">
        <img class="case-page--more-info__img" src="/images/icosa-alpha.png" alt="" />
      </div>
    </div>
  </div>


</div>
