---
layout: default

---

<div class="case-page">

  <div class="top-section case-page__header" style="background-image: url('/images/54t5rivyaii-taduuda.jpg')">
    <hgroup>
      <h1><span>{{page.caseStudy}}</span></h1>
      <h2>
        {% if page.dataType %}
          {% for item in page.dataType %}
            <span>{{ item }}</span>
          {% endfor %}
        {% endif %}

        {% if page.sector %}
          {% for item in page.sector %}
            <span>{{ item }}</span>
          {% endfor %}
        {% endif %}
      </h2>
    </hgroup>
    <div class="case-page__header--button"><a class="button" href="{{page.link}}">Go to website</a></div>
  </div>

  <div class="page-section case-page--info">
    <div class="row align-center case-page--info--top">
      <div class="small-12 column medium-6 ">
        {% if page.whatDataShared %}
          <h4>The Data</h4>
          <p>{{page.whatDataShared}}</p>
        {% endif %}
      </div>
      <div class="small-12 column medium-6 ">
        {% if page.howDataShared %}
          <h4>How the data was shared</h4>
          <p>{{ page.howDataShared }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="page-section case-page--purpose">
    <div class="row large-unstack">
      <div class="column large-6">
        {% if page.purpose %}
          <h4>Purpose of Data Shared</h4>
          <p>{{ page.purpose }}</p>
        {% endif %}
      </div>
      <div class="column large-6">
        {% if page.sharedBy %}
        <div class="share-panel">
          <h5>Shared by</h5>
          {% for item in page.sharedBy %}
            <a href="#" class="share-panel__item">{{item}}</a>
          {% endfor %}
        </div>
        {% endif %}
        {% if page.sharedWith %}
        <div class="share-panel">
          <h5>Shared with</h5>
          {% for item in page.sharedWith %}
            <a href="#" class="share-panel__item">{{item}}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="page-section page-section--black regions">
    <div class="row align-center">
      <div class="large-8 column">
        <h3>Region: {{ page.region }}</h3>

        {% assign map_region = page.region %}

        {% if map_region == 'Worldwide' %}
          <div class="regions__map regions--worldwide">
            {% include map.html %}
          </div>
        {% elsif map_region == 'North America' %}
          <div class="regions__map regions--north-america">
            {% include map.html %}
          </div>
        {% elsif map_region == 'Latin America and the Caribbean' %}
          <div class="regions__map regions--latin-america">
            {% include map.html %}
          </div>
        {% elsif map_region == 'East Asia and Pacific' or map_region == 'South Asia' %}
          <div class="regions__map regions--asia">
            {% include map.html %}
          </div>
        {% elsif map_region == 'Sub-Saharan Africa' or map_region == 'Middle East and North Africa' %}
          <div class="regions__map regions--africa">
            {% include map.html %}
          </div>
        {% elsif map_region == 'Europe and Central Asia' %}
          <div class="regions__map regions--europe">
            {% include map.html %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
