.callout-message {
  text-align: center;
  background-color: rgba(black, .8);

  h2 { 
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 40px;
    color: white;
    letter-spacing: 1px;
  }

  p {
    font-size:  1.5rem;
    font-weight: 300; 
    margin-top: 0;
    color: rgba(white, .5);
    margin-bottom: 40px;
    line-height: 1.3;
  }
}