#creating-public-value,
#exchanging-data {
  padding: 0;

  .bg-panel__content {padding: 50px 80px;}

  ul {padding: 0;}
  li {
    margin-bottom: 5px;
    list-style: none;

    .button--outline {
      width: 92%;
      text-align: center;
    }
  }
}

#creating-public-value { text-align: right; }

#exchanging-data { 
  .bg-panel__content { background-color: rgba(white, .9); }
  
  h3, h4 { color: rgba(black, .6); }
  
  .icon-box { 
    border-color: rgba(black, .3); 
    color: rgba(black, .8);
  }
}

