
// $yellow = #e5c810;

.top-section {
  &--yellow {
    background-color: #e5c810;
  }

  h3 {
    color: rgba(0,0,0,9);
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin-top: -50px;
    font-weight: 900;
  }

  .gov-logo {
    padding-top: 120px;
    padding-bottom: 20px;
    width: 10%;
  }

  .logo {
    padding-top: 8%;
  }
}
