.footer {
  background-color: $main-color;
  height: 600px;
  padding: 0;
  position: relative;

  &--darken {
    background-color: darken($main-color, 4) !important;
    height: 80px;
    width: 100%;
  }

  &__icons {
    color: white;
    position: absolute;
    right: 50px;
    bottom: 50px;

    // @include breakpoint($small-only) {
    //   color: red;
    // }
  }

  &__partner-logo {
    color: white;
    display: inline;

    img {
      opacity: 1;
      padding-right: 50px;
    }
  }
}
