.top-section {
  &--yellow {
    background-color: $yellow;
  }

  &--logo {
    padding-bottom: 130px;
  }

  &__logo {
    padding-top: 12%;
  }

  &__main-img {
    margin-top: -50px;
    width: 55%;
  }
}
