.top-bar {
  &--transparent {
    background-color: transparent;
  }

  .bottom-nav-text {
    font-size: .8rem;
  }

  &__logo {
    img {
      padding-right: 50px;
    }
  }
}

.main-menu:not(.m-active) {
  box-shadow: none;
}

.top-section {
  margin-top: -50px;


  &--yellow {
    background-color: $yellow;
  }

  &--gray {
    background-color: $gray;
  }

  &--yellow-list-page {
    margin-top: -50px;
    padding: 100px 0;
    background-color: $yellow;
  }

  &__list-header {
    padding: 0;
    margin: 0;
    @include breakpoint($small-only) {

    }

  }




  &--logo {
    padding-bottom: 130px;
  }

  &__logo {
    padding-top: 50px;
    z-index: 10;
    position: relative;
    // padding-top: 5%;
  }

  &__main-img {
    margin-top: -50px;
    width: 55%;
    // padding-bottom: 70px;
    @include breakpoint($small-only) {
      width: 90%;
      // padding-top: 50px;
    }
  }

  &__sub-header {
    margin: 0;
    padding-bottom: 50px;
    color: rgba(0,0,0,0.3);
  }
}

.webgl {
  .top-section {
    &__backup-logo {
      display: none;
      // width: 150px;
      // padding-bottom: 10%;
      // padding-top: 15%;
    }
  }
}

.no-webgl {
  .top-section {

    &__logo {
      display: none;
    }

    &__backup-logo {
      width: 150px;
      padding-bottom: 10%;
      padding-top: 15%;
    }

    &__main-img {
      @include breakpoint($small-only) {
        padding-top: 50px;
      }
    }

  }
}
