#introduction {
  .section {
    background-color: black;
  }



}

// FULLPAGE STYLE OVERRIDE

.fp-enabled body {
  .top-bar { 
    background-color: black !important;
    position:fixed;
    // height: 70px;
    display:block;
    width: 100%;
    // background: #ccc;
    z-index:9;
    // text-align:center;
    top:0px;
    text-align: center;
    height: 50px;
    display: flex;
  }
}

#fp-nav {
  opacity: .5 !important;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent rgba(#fff, 0.4) transparent transparent !important;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent rgba(#fff, 0.4) !important;
}

.fp-tooltip {
  color: black !important;
}
