.page-section {
  padding: 0;

  .column {


    &--yellow {
      background-color: $yellow;
      color: $gray;
    }

    &--yellow-opaque {
      background-color: $yellow;
      opacity: 0.9;
      color: $gray;
    }

    &--gray {
      background-color: $gray;
      color: white;
    }

    &--transparent {
      display: none;
    }
  }

  p {
    padding: 100px;
    margin: 0;
  }

  .first-panel {
    text-align: right;
    font-size: 1.6rem;
  }

  .second-panel {
    text-align: left;
    font-size: 1.2rem;
  }

  .first-panel-logo {
    width: 30%;
    padding-right: 100px;
  }



  &__background-img {
    background: url(../images/temporary.png) no-repeat center center;
    background-size: cover;
  }

  .right-panel {
    text-align: left;
    // padding: 100px;

    h5 {
      margin: 0;
      padding: 100px;
      padding-bottom: 0;
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
      padding-bottom: 0;
      padding-top: 15px;
      margin: 0;

    }
  }
}

.divider {
  &--logo {
    h2 { text-align: center; }
    img {
      max-width: 200px;
    }
  }

  &--main-color-darker {
    background-color: darken($main-color, 4) !important;
  }
}
