.page-section {
  padding: 0;

  &--gray {
    background-color: $gray;
    color: white;
  }

  // &--gray-darken {
  //   background-color: red!important;
  // }

  //temporany more info text
  .more-info {
    font-size: 2rem;
    padding: 100px;
  }
}

.divider--long {
  padding: 60px 0;
  h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  h4 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: none;
    margin-top: 10px;
    font-weight: 400;
    opacity: .6;
  }
}

.video-bg {
  position: relative;
  overflow: hidden;

  &__video {
    position: absolute;
    mix-blend-mode: screen;
    left: 0;
    top: 0;
    width: 100%;
    opacity: .15;
  }
}



.divider {
  position: relative;

  &--logo {
    h2 { text-align: center; }
    img {
      max-width: 200px;
    }
  }

  &--main-color-darker {
    background-color: darken($main-color, 4) !important;
  }

  // &--gray-color-darker {
  //   // background-color: darken($gray, 4) !important;
  //   background-color: $gray;
  //   color: white;
  // }

  &--yellow {
    background-color: $main-color;
    color: $gray;
  }

  &__h5 {
    padding: 20px;
    @include breakpoint($small-only) {
      text-align: center;
    }
  }

  &__p {
    padding: 100px 150px 20px;
    font-size: 1.7rem;
    text-align: center;
    // font-weight: 600;
    @include breakpoint($small-only) {
      padding: 20px 30px 20px;
    }
  }

  &__img {
    width: 6%;
    height: 6%;
    padding-bottom: 50px;
    // padding-top: 10px;

    @include breakpoint($small-only) {
      width: 12%;
      padding-bottom: 50px;
    }
  }
}

.grid {
  text-align: center;
  margin: 0;

  &__section {
    height: 100%;

    &--large-gray {
      background-color: lighten($gray, 90%);
      @include breakpoint($small-only) {
        background-color: white;
      }
    }

    &--small-gray {
      @include breakpoint($small-only) {
        background-color: lighten($gray, 90%);
      }
    }
  }

  &__header {
    margin: 0;
    padding-top: 40px;
    font-weight: 600;
    color: $gray;
  }

  &__subheading {
    padding: 10px 100px 50px;
    margin: 0;
    @include breakpoint($small-only) {
      text-align: center;
      padding: 20px 20px 50px;
    }
  }
}

.coming-soon {
  &__text {
    padding: 50px;
    width: 90%;
    font-size: 1.2rem;

    .link {
      text-decoration: none;
      border-bottom: 2px solid $yellow;

      &:hover {
        border-bottom: 2px solid $gray;
      }
    }

    @include breakpoint($small-only) {
      font-size: 1rem;
      padding: 20px;
    }
  }
  &__link {
    text-transform: none;
    text-align: center;
    padding-top: 20px;
  }


}
