.page-section {
  padding: 0;

  &--gray {
    background-color: $gray;
    color: white;
  }

  // &--gray-darken {
  //   background-color: red!important;
  // }
}

.dual-panel {
  @include breakpoint($large) {
    position: relative;
  }



  &--img-bg {
    background: url(../images/temporary.png) no-repeat center center;
    background-size: cover;
  }

  &__p {
    padding-top: 150px!important;
    padding: 100px;
    margin: 0;
    @include breakpoint($small-only) {
      font-size: 1.2rem;
      padding: 30px;
      padding-top: 50px!important;
    }

    &--mod {
      padding-right: 100px;
      padding-left: 100px;

      &--last {
        padding-bottom: 200px;
      }
    }
  }

  &__first-panel {
    // width: 100%!important;
    background-color: $main-color;
    color: $gray;
    font-size: 1.7rem;
    text-align: right;

    &__logo {
      width: 30%;
      padding-right: 100px;
      padding-bottom: 100px;
      padding-top: 100px;
      @include breakpoint($small-only) {
        padding-right: 25px;
        padding-top: 70px;
        width: 25%;
      }
    }

    &--transparent {
      display: none;
    }
  }

  &__second-panel {

    background-color: $gray;
    height: 100%!important;
    color: white;
    font-size: 1.2rem;
    text-align: left;

    @include breakpoint($small-only) {
      padding-bottom: 150px;
    }

    @include breakpoint($large) {
      position: absolute;
    }

    &--yellow-opaque {
      background-color: $yellow;
      opacity: 0.9;
      color: $gray;
      height: 100%;
    }
  }

  h5 {
    margin: 0;
    padding-top: 150px;
    padding-left: 100px;
  }

}

.divider {
  &--logo {
    h2 { text-align: center; }
    img {
      max-width: 200px;
    }
  }

  &--main-color-darker {
    background-color: darken($main-color, 4) !important;
  }

  // &--gray-color-darker {
  //   // background-color: darken($gray, 4) !important;
  //   background-color: $gray;
  //   color: white;
  // }

  &--yellow {
    background-color: $main-color;
    color: $gray;
  }

  &__h5 {
    padding: 20px;
    @include breakpoint($small-only) {
      text-align: center;
    }
  }

  &__p {
    padding: 20px 150px 20px;
    font-size: 1.2rem;
    text-align: center;
    // font-weight: 600;
    @include breakpoint($small-only) {
      padding: 20px 30px 20px;
    }
  }
}

.grid {
  text-align: center;
  margin: 0;

  &__section {
    height: 100%;

    &--large-gray {
      background-color: lighten($gray, 90%);
      @include breakpoint($small-only) {
        background-color: white;
      }
    }

    &--small-gray {
      @include breakpoint($small-only) {
        background-color: lighten($gray, 90%);
      }
    }
  }

  &__header {
    margin: 0;
    padding-top: 40px;
    font-weight: 600;
    color: $gray;
  }

  &__subheading {
    padding: 10px 100px 50px;
    margin: 0;
    @include breakpoint($small-only) {
      text-align: center;
      padding: 20px 20px 50px;
    }
  }
}
