.resources-page {
  .top-section {
    padding-bottom: 60px;
    h1 {text-transform: uppercase;}
  }
}

.results-section, .results-container { padding: 0; }

.result-item {
  font-weight: 300;
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: white;
  padding: 30px 30px 90px;
  width: 100%;
  display: block;
  height: 420px;
  border-bottom: 1px solid rgba(black, .1);
  border-right: 1px solid rgba(black, .1);
  text-decoration: none;

  @include breakpoint($medium) {
    width: 50%;
    margin: 0;

    a {
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }

  @include breakpoint($large) {
    width: calc(100% / 3);
    margin: 0;
  }

  &:hover {
    background-color: rgba(black, .05);

    &:after {
      border-top: 12px solid $main-color;
      border-left: 12px solid $main-color;
    }
  }


  // Sets the triangle on the top left corner
  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 12px solid rgba(black, .3);
    border-left: 12px solid rgba(black, .3);
    border-right: 12px solid rgba(black, 0);
    border-bottom: 12px solid rgba(black, 0);
  }

  &__name {
    font-size: 1rem;
    text-transform: none;
    min-height: 4.5rem;
  }

  &__authors a {
    font-size: .9rem;
    text-decoration: none !important;
    color: rgba($main-color, .6);

    &:hover {
      text-decoration: none;
      color: rgba($main-color, 1);

    }
  }

  &__taxonomy {
    font-size: .8rem;
    display: block;
    overflow: hidden;
    margin-bottom: 5px;

    &__key {
      float: left;
      width: 90px;
    }

    &__value {
      float: right;
      width: calc(100% - 90px);
    }
    p { 
      font-size: .6rem;
      text-transform: uppercase;
      display: inline-block;
      padding: 3px 8px;
      margin-bottom: 3px;
      margin-top: -1px;
    }
  }

  &__tag {
    font-size: .6rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 8px;
    background-color: rgba(black, .1);
    margin-bottom: 3px;
    opacity: .7;

    &:empty { display: none; }

    &:hover {
      opacity: 1;
      text-decoration: none;
    }



  }

  &__authors {
    font-size: .9rem;
    min-height: 3rem;
  }
}

.result-item {
  &__short-description {
    p { 
      font-size: .9rem;
    }
  }
}

.modal {
  .modal__header--yellow {
    background-color: $main-color;
  }
}
