.dropdown-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;

  .clear_filters {
    position: absolute;
    right: 0;
    padding: 8px;
  }
}

.table-section {
  &__table {
    margin: 0;

    tr {
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    th {
      background-color: rgba(0, 0, 0, 0.8);
      padding-left: 30px;

      @include breakpoint($large) {
        font-size: 1.1rem;
      }
    }

    td {
      padding-left: 30px;
    }
  }
}

.table-sortable {
  &__head-cell {
    padding: 0;
    position: relative;

    span {
      padding: 15px 0;
      display: inline-block;
    }
  }

  &__control {
    i {
      vertical-align: middle;
    }
  }

  &__control-group {
    float: right;
    margin-right: 15px;
    color: black;
  }
}
