.case-page {
  margin-top: -50px;

  &__header {
    background-size: cover;
    background-position: center;
    height: 40vh;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40vh;
    }

    // hgroup {
    //   background-color: $yellow;
    //   padding: 25px 0;
    //   opacity: .9;
    // }

    h1, h2, h3 {
      margin: 0;

      span {
        display: inline-block;

      }
    }

    h1 {
      font-size: 3.4rem;
      font-weight: 300;
      margin-bottom: 20px;
      @include breakpoint($small-only) {
        font-size: 1.7rem;
      }

      span {
        padding: 10px 30px;
        background-color: rgba($yellow, .9);
      }
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      color: white;
      @include breakpoint($small-only) {
        font-size: 1rem;
      }

      span {
        border: 1px solid white;
        padding: 7px 17px;
        background-color: rgba(black, .1);
        @include breakpoint($small-only) {
          background-color: rgba(black, .2);
          padding-top: 7px;
        }
      }
    }

    &__shared {
      font-size: 2rem!important;
      font-weight: 400;
    }

    &--button {
      bottom: -25px;
      position: absolute;
      z-index: 1;
      text-align: center;
      width: 100%;

      .button {
        background-color: $yellow;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
        padding-left: 40px;
        padding-right: 40px;
        font-weight: bold;

        &:hover { background-color: darken($yellow, 7); }
      }


    }
  }

  .share-panel {
    padding-top: 45px;

    h5 {
      margin: 0 0 15px 0;
      color: rgba(black, .4);
      text-transform: none;
    }

    &__item {
      border: 1px solid rgba(black, .3);
      padding: 7px 20px;
      margin-bottom: 5px;
      font-size: 1.2rem;
      font-weight: 400;
      color: rgba(black, .7);
      display: inline-block;
      cursor: pointer;


      &:hover {
        background-color: $yellow;
        border-color: $yellow;
        color: white;
        text-decoration: none;
      }
    }
  }

  &--info {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--purpose {
    background-color: rgba(0,0,0,0.1);
    padding-bottom: 50px;
  }

  &--more-info {
    padding-top: 50px;
    background-color: rgba(0,0,0,0.8);
    // background-color: $gray;
    color: white;

    &__img {
      width: 70%;
      margin-left: 150px;
      padding-bottom: 20px;
    }
  }
}

.regions {
  h3 {
    text-align: center;
    font-weight: 200;
  }
  &__map #region-map path {
    fill: white;
    fill-opacity: .1;
  }

  &--worldwide #region-map path {
    fill: $yellow;
    fill-opacity: 1;
  }

  &--north-america #north-america path {
    fill: $yellow;
    fill-opacity: 1;
  }

  &--latin-america #latin-america path {
    fill: $yellow;
    fill-opacity: 1;
  }

  &--asia #asia path {
    fill: $yellow;
    fill-opacity: 1;
  }

  &--africa #africa path {
    fill: $yellow;
    fill-opacity: 1;
  }

  &--europe #europe path {
    fill: $yellow;
    fill-opacity: 1;
  }
}
