<header class="top-bar top-bar--yellow">
    <span class="top-bar__button js-trigger-menu">menu</span>
    <nav class="main-menu js-target-menu main-menu--left">
      <a href="/static/files/data-collaboratives.pdf">WHAT<br><span class="bottom-nav-text">Data Collaboratives</span></a>
      <a href="#">WHERE (Coming Soon)<br><span class="bottom-nav-text">Data Collaboratives Explorer</span></a>
      <a href="#">HOW (Coming Soon)<br><span class="bottom-nav-text">Designing a Data Collaborative</span></a>
      <a href="#">MORE (Coming Soon)<br><span class="bottom-nav-text">Additional Resources</span></a>
    </nav>
     <!-- <a class="top-bar__logo" href="./"><img src="images/govlab-logo-white.png" alt="The GovLab"></a> -->
    <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
    <nav class="main-menu js-target-menu main-menu--right">
      <a href="#">Github Repository</a>
      <a href="./sandbox.html">Sandbox</a>
    </nav> -->
  </header>
