<header class="top-bar top-bar--transparent">
    <span class="top-bar__button js-trigger-menu">menu</span>
    <nav class="main-menu js-target-menu main-menu--left">
      <a href="./introduction#">Introduction</a>
      <a href="../cases.html">Data Collaboratives Explorer</a>
      <a href="../canvas.html">Designing a Data Collaborative</a>
      <a href="/static/files/framework.pdf">Data Responsibility Framework</a>
      <a href="../events.html">Events</a>
      <a href="#">Current Projects</a>
      <a href="../resources.html">Additional Resources</a>
    </nav>
     <a class="top-bar__logo" href="/"><img src="./images/govlab-logo-white.png" alt="The GovLab"></a>
    <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
    <nav class="main-menu js-target-menu main-menu--right">
      <a href="#">Github Repository</a>
      <a href="./sandbox.html">Sandbox</a>
    </nav> -->
  </header>
