---
layout: default
title: Cases | Data Collaboratives
region:
- "East Asia and Pacific"
- "Europe and Central Asia"
- "Latin America and the Caribbean"
- "Middle East and North Africa"
- "North America"
- "South Asia"
- "Sub-Saharan Africa"
- "Worldwide"
sector:
- "Agriculture"
- "Criminal Justice"
- "Crisis Response"
- "Digital Society"
- "Economic Development"
- "Education"
- "Environment"
- "Health"
- "Infrastructure"
- "Transporation"
- "Telecommunications"
type:
- "API"
- "Data Pooling"
- "Intelligence Product"
- "Prizes & Challenges"
- "Research Partnerships"
- "Trusted Intermediary"
data-type:
- "Disclosed Personal Data"
- "Disclosed Non-Personal Data"
- "Observed Personal Data"
- "Observed Non-Personal Data"
---

<div class="list-page">
  <div class="top-section top-section--yellow-list-page">
    <h2 class="top-section__list-header">All Data Collaborative Cases</h2>
  </div>

  <div class="page-section page-section--gray">
    <div class="row align-center">
      <h4>Filters</h4>
    </div>

    <div class="dropdown-wrapper">
      <div class="row large-unstack">

        <div class="columns case__region">
          <div class="select">
            <select data-filter="case__region" id="first" class="dropdown-content">
              <option id="all">Filter by Region</option>
              {% for item in page.region%}
              <option id="{{ item | slugify }}">{{item}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="columns case__sector">
          <div class="select">
            <select data-filter="case__sector" id="second" class="dropdown-content">
              <option id="all">Filter by Sector</option>
              {% for item in page.sector%}
              <option id="{{ item | slugify }}">{{item}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="columns case__type">
          <div class="select">
            <select data-filter="case__type" id="third" class="dropdown-content">
              <option id="all">Filter by Collaborative Type</option>
              {% for item in page.type%}
              <option id="{{ item | slugify }}">{{item}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="columns case__data-type">
          <div class="select">
            <select data-filter="case__data-type" id="fourth" class="dropdown-content">
              <option id="all">Filter by Data Type</option>
              {% for item in page.data-type%}
              <option id="{{ item | slugify }}">{{item}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="close clear_filters table-sortable__control table-sortable__control--simple table-sortable--clear-all">

          <div class="row clear-all-text">
            <button class="" type="button" name="button">CLEAR ALL</button>
          </div>

          <i class="material-icons close-icon">close</i>
        </div>
      </div>
    </div>
  </div>

  <div class="table-section" id="case_data">
    <table class="table-sortable table-section__table">
      <thead class="cases">
        <th class="table-sortable__head-cell case__title">
          <span>Case</span>

          <div class="table-sortable__control-group">

            <span class="table-sortable__control table-sortable__control--simple js-open-table-search" data-target="#case__title--input"><i class="material-icons">search</i></span>

            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__title"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>

          <form class="table-sortable__search ">
            <input id="case__title--input" class="fuzzy-search" type="text" placeholder="Filter by text">
            <!-- <input id="" class="fuzzy-search" type="text" placeholder="Filter by text"> -->
            <button type="submit" class=""><i class="material-icons">close</i></button>
          </form>
        </th>

        <th class="table-sortable__head-cell case__region">
          <span>Region</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__region"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell case__sector">
          <span>Sector</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__sector"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell case__type">
          <span>Collaborative Type</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__type"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell case__data-type">
          <span>Data Type</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__data-type"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>
      </thead>

      <div id="list-id">
        <tbody class="list">
          <tr class="case">
            {% for item in site.data.contentful.spaces.cases.datacollaborative %}
            <td case-name="{{item.caseStudy}}" class="case__title">
              <a href="/cases/{{item.caseStudy | slugify }}.html">{{ item.caseStudy }}</a>
            </td>
            <td case-region="all {{item.region | slugify }}" class="case__region">
              {{ item.region }}
            </td>
            <td case-sector="all {% for d in item.sector %} {{ d | slugify }} {% endfor %}" class="case__sector">
              {{ item.sector | join: ", " }}
            </td>
            <td case-type="all {% for d in item.collaborativeType %} {{ d | slugify }} {% endfor %}" class="case__type">
              {{ item.collaborativeType  | join: ", " }}
            </td>
            <td case-data-type="all {% for d in item.dataType %} {{ d | slugify }} {% endfor %}" class="case__data-type">
              {{ item.dataType | join: ", " }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
