---
layout: default
case:
- "GovLab"
- "Yelp"
region:
- "USA"
- "Europe"
- "Asia"
sector:
- "Health"
- "Environment"
- "Consumer"
- "Food"
type:
- "Trusted Intermediaries"
- "Prizes & Challenges"
---

<div class="list-page">

  <div class="top-bar top-bar--yellow">
    <a class="top-bar__logo" href="/">
      <img src="/images/govlab-logo-white.png" alt="The GovLab">
    </a>
  </div>

  <div class="top-section top-section--yellow">
    <h2>All Companies</h2>
  </div>

  <div class="page-section page-section--gray">
    <div class="row align-center">
      <h4>Filters</h4>
    </div>

    <div class="dropdown-wrapper">
      <div class="row large-unstack">

        <!-- <div class="columns">
          <div class="select" id=''>
            <select data-filter="case" class="dropdown-content">
              <option id="all">Filter by Company</option>
              {% for item in page.case%}
              <option id="{{ item | slugify }}">{{item}}</option>
              {% endfor %}
            </select>
          </div>
        </div> -->

        <div class="columns">
          <div class="select" id=''>
            <select data-filter="region" class="dropdown-content">
              <option id="all">Filter by Region</option>
              {% for item in page.region%}
              <option id="{{ item | slugify }}">{{item}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="columns">
          <div class="select" id=''>
            <select data-filter="sector" class="dropdown-content">
              <option id="all">Filter by Sector</option>
              {% for item in page.sector%}
              <option id="{{ item | slugify }}">{{item}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="columns">
          <div class="select" id=''>
            <select data-filter="other" class="dropdown-content">
              <option id="all">Filter by Type</option>
              {% for item in page.type%}
              <option id="{{ item | slugify }}">{{item}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="close clear_filters table-sortable__control table-sortable__control--simple">
          <i class="material-icons">close</i>
        </div>
      </div>
    </div>
  </div>



  <div class="table-section" id="case_data">
    <table class="table-sortable table-section__table">
      <thead class="cases">

        <th class="table-sortable__head-cell case__title">
          <span>Case</span>

          <div class="table-sortable__control-group">

            <span class="table-sortable__control table-sortable__control--simple js-open-table-search" data-target="#case__title--input"><i class="material-icons">search</i></span>

            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__title"><i class="material-icons">keyboard_arrow_down</i></span>

          </div>

          <!-- <form class="table-sortable__search ">
            <input id="company__name--input" class="fuzzy-search" type="text" placeholder="Filter by text">
            <button type="submit" class=""><i class="material-icons">close</i></button>
          </form> -->


        </th>

        <th class="table-sortable__head-cell case__region">
          <span>Region</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__region"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell case__sector">
          <span>Sector</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__sector"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell case__type">
          <span>Type</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="case__type"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

      </thead>



      <tbody>
        <tr>
          {% for item in site.data.contentful.spaces.cases.datacollaborative %}
          <td>
            <a href="{{item.link}}">{{ item.caseStudy }}</a>
          </td>
          <td>
            {{ item.region }}
          </td>
          <td>
            {{ item.sector }}
          </td>
          <td>
            {{ item.type }}
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>


</div>
